Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [50]:
one="sandeep"
two=["jio",15,True,False,15.65]
three=15.56
four=("name",15,45.25,True)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [51]:
var4 = 1.
# only one variable is correct and data type is float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	*

1. / Division

In [53]:
a=10
b=5
c=a/b

c

2. modulus

In [54]:
a=10
b=5
c=a%b

In [55]:
c

0

3. flor division

In [56]:
a=10
b=5
c=a//b

In [57]:
c

2

4. Exponentiation

2**2

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [62]:
jio = ['sandy',12,12.25,True,False,45,48,"rathod","PW_ClASS","Welcome"]

for element in jio:
    print(element, type(element))

sandy <class 'str'>
12 <class 'int'>
12.25 <class 'float'>
True <class 'bool'>
False <class 'bool'>
45 <class 'int'>
48 <class 'int'>
rathod <class 'str'>
PW_ClASS <class 'str'>
Welcome <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [64]:
def count_divisions(A, B):
    if B == 0:
        return "Cannot divide by zero."
    
    count = 0
    while A >= B:
        A -= B
        count += 1
        
    return count

# Test example
A = 42
B = 7

result = count_divisions(A, B)

if result is not None:
    print(f"{A} is divisible by {B} exactly {result} times.")
else:
    print("Cannot divide by zero.")

42 is divisible by 7 exactly 6 times.

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [68]:

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Mutable data types:
Mutable data types are those whose values can be modified after they are created

In [69]:
list=[14,15,"sandy","PW_CLASS"]
print("Orignal : ",list)
list[0]=20
print(list)

Orignal :  [14, 15, 'sandy', 'PW_CLASS']
[20, 15, 'sandy', 'PW_CLASS']

Immutable data:
Immutable data types, on the other hand, are those whose values cannot be changed after they are created

In [67]:
l1="PWCLASS"
print("original",l1)
l1[0]="K"
print(l1)

original PWCLASS

TypeError: 'str' object does not support item assignment